*{
    color:white;
    text-align: center;
}
#body1{
    background-color: #202e39;
    justify-content: center;
    align-items: center;
}

#aufgaben_tag, #aufgaben_monat, #priorität{
    background-color:#2c3d4b;
}

.form-dropdown option{
    background-color: #2c3d4b;
    border: 1px solid rgba(255, 255, 255,0.4);
    border-radius: 10px;
    flex:1 ;
    padding-left: 100px;
    font-size: 24px ;
}

#button{
    background-color:#4CAF50 ;
}
input{
    background-color: #2c3d4b;
    border: 1px solid rgba(255, 255, 255,0.4);
    border-radius: 10px;
    flex:1 ;
    
    font-size: 24px ;
}

._aufgabe{
    position: absolute;

}

#datepicker1{
color:black;

}