/*#aufgaben {
    
}

#termine{


}

#kalender {

    
}
*/

::placeholder {
    color: rgba(253, 252, 252, 0.171)

}


#month-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #calendar-body td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
  
  #calendar-body td.today {
    background-color: lightblue;
  }
  
  #calendar {
    margin: 0 auto;
  }
  