<html>
  <head>
    <title>Termin bearbeiten</title>
  </head>
  <body onLoad="uhrzeit();">

    <nav id="nav" class="navbar sticky-top navbar-expand-lg" style="background-color: #5B6EC5;">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="{{ url_for('static', filename= 'files/logoq2.PNG') }}" alt="Bootstrap" width="200" height="50">
          Personal Organizer</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
          </ul>
          <form style="margin-top: 15px"name="uhr" class="text-center">
              <h4><input type="button" class="btn btn-outline-dark bi bi-clock" name="uhrbutton" value="00:00:00"/><i style="margin-left: 10px"class="bi bi-clock"></i></h4>
          </form>
          <div id="current_date"></p></div>
      </div>
    </nav>


    <h1>Termin bearbeiten</h1>
    <form method="POST" action="{{ url_for('edit_termin', termin_id=termin[0], name=termin[1]) }}" >
        <label for="name">termin</label>
        <input type="text" id="name" name="name" value="{{ termin[0] }}" required><br>
        <label for="datum_tag">Tag</label><br>
            <select id="datum_tag" name="datum_tag" required>
                {%for tag in range(1, 32)%}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>

        <select id="datum_monat" name="datum_monat" required>
            {%for monat in range(1, 13)%}
            <option value="{{ monat }}">{{ monat }}</option>
            {% endfor %}
        </select>

        <label for="datum_jahr">Jahr</label><br>
        <input type="number" id="datum_jahr" name="datum_jahr" required><br>

        <label for="wochentag">Wochentag</label><br>
        <select id="wochentag" name="wochentag">
            <option value="Montag">Montag</option>
            <option value="Dienstag">Dienstag</option>
            <option value="Mittwoch">Mittwoch</option>
            <option value="Donnerstag">Donnerstag</option>
            <option value="Freitag">Freitag</option>
            <option value="Samstag">Samstag</option>
            <option value="Sonntag">Sonntag</option>
        </select>

        <label for="uhrzeit_anfang">Beginn</label><br>
        <input type="text" id="uhrzeit_anfang" name="uhrzeit_anfang"><br>

        <label for="uhrzeit_ende">Ende</label><br>
        <input type="text" id="uhrzeit_ende" name="uhrzeit_ende"><br>

        <input type="submit" value="Speichern" href="/">
    </form>
  </body>
</html>

<script>
  function uhrzeit() {
      var act = new Date();
      var h= act.getHours();
      if  (h <10) { h="0"+h; }
      var m= act.getMinutes();
      if  (m <10) { m="0"+m; }
      var s= act.getSeconds();
      if  (s <10) { s="0"+s; }
      document.uhr.uhrbutton.value = h+":"+m+":"+s;
  }

  setInterval(uhrzeit, 1000);


  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  document.getElementById("current_date").innerHTML = day + "." + month + "." + year;
</script>