<html>
  <head>
    <title>Aufgabe bearbeiten</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body onLoad="uhrzeit();">


    <nav id="nav" class="navbar sticky-top navbar-expand-lg" style="background-color: #5B6EC5;">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="{{ url_for('static', filename= 'files/logoq2.PNG') }}" alt="Bootstrap" width="200" height="50">
          Personal Organizer</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
          </ul>
          <form style="margin-top: 15px"name="uhr" class="text-center">
              <h4><input type="button" class="btn btn-outline-dark bi bi-clock" name="uhrbutton" value="00:00:00"/><i style="margin-left: 10px"class="bi bi-clock"></i></h4>
          </form>
          <div id="current_date"></p></div>
      </div>
    </nav>


    <h1>Aufgabe bearbeiten</h1>
    <form method="POST" action="{{ url_for('edit_aufgabe', aufgaben_id=aufgabe[0], name=aufgabe[1]) }}" >
        <label for="name">Aufgabe</label>
        <input type="text" id="name" name="name" value="{{ aufgabe[0] }}" required><br>
        <label for="aufgaben_tag">Tag</label><br>
            <select id="aufgaben_tag" name="aufgaben_tag" required>
                {%for tag in range(1, 32)%}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>

        <select id="aufgaben_monat" name="aufgaben_monat" required>
            {%for monat in range(1, 13)%}
            <option value="{{ monat }}">{{ monat }}</option>
            {% endfor %}
        </select>

        <label for="priorität">Priorität</label><br>
        <select id="priorität" name="priorität">
            <option value="Niedrig">Niedrig</option>
            <option value="Mittel">Mittel</option>
            <option value="Hoch">Hoch</option>
        </select>
        <input type="submit" value="Speichern" href="/">
    </form>
  </body>
</html>


<script>
  function uhrzeit() {
      var act = new Date();
      var h= act.getHours();
      if  (h <10) { h="0"+h; }
      var m= act.getMinutes();
      if  (m <10) { m="0"+m; }
      var s= act.getSeconds();
      if  (s <10) { s="0"+s; }
      document.uhr.uhrbutton.value = h+":"+m+":"+s;
  }

  setInterval(uhrzeit, 1000);


  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  document.getElementById("current_date").innerHTML = day + "." + month + "." + year;
</script>