<html>
    <head>
     {{bootstrap.load_css()}}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>


    <body onLoad="uhrzeit();">
        <nav class="navbar sticky-top bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">Personal Organizer</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                
            </div>
        </nav>

        <form name="uhr" class="text-center">
            Es ist <input type="button" name="uhrbutton" value="00:00:00"/>
        </form>


        <div class="row">
            <div class="col text-center">
              <h2>Aufgaben</h2>
              <table class="table table-bordered mx-auto">
                <tr>
                    <th>Aufgabe</th>
                    <th>Fälligkeitsdatum</th>
                </tr>
                 {%for aufgabe in aufgaben%}
                    <tr>
                        <td>{{aufgabe[0]}}</td>
                        <td>{{aufgabe[1]}}.{{aufgabe[2]}}.</td>
                    </tr>
                 {% endfor %}
            </table>
            <a href="/Aufgaben" class="btn btn-primary">Aufgaben hinzufügen</a>
            </div>
            <div class="col text-center">
              <h2>Termine</h2>
              <table class="table table-bordered mx-auto">
                <tr>
                    <th>Termin</th>
                    <th>Datum</th>
                    <th>Wochentag</th>
                    <th>Anfang</th>
                    <th>Ende</th>
                </tr>
                 {%for termin in termine%}
                    <tr>
                        <td>{{termin[0]}}</td>
                        <td>{{termin[1]}}.{{termin[2]}}.{{termin[3]}}</td>
                        <td>{{termin[4]}}</td>
                        <td>{{termin[5]}}</td>
                        <td>{{termin[6]}}</td>
                    </tr>
                 {% endfor %}
            </table>
            <a href="/Termine" class="btn btn-primary mt-3 mx-auto d-block">Termine hinzufügen</a>
            </div>
            <div class="col text-center">
              <h2>Kalender</h2>
            </div>
          </div>


        
    </body>




</html>



<script>
    function uhrzeit() {
  var act = new Date();
  var x= act.getHours();
  if  (x <10) { x="0"+x; }
  var y= act.getMinutes();
  if  (y <10) { y="0"+y; }
  var z= act.getSeconds();
  if  (z <10) { z="0"+z; }
  document.uhr.uhrbutton.value = x+":"+y+":"+z;
}
</script>