{% extends 'layout.html' %}
{% block content %}
    <div style="margin-top: 15px" id="aufgaben" class="col text-center container-fluid">
        <h2>Aufgaben</h2>
        <table id="aufgabentable" class="table mx-auto table table-borderless">
            <tr id="thead1">
                <th>Aufgabe</th>
                <th>Fälligkeitsdatum</th>
                <th>Priorität</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for aufgabe in aufgaben %}
                {% if aufgabe[3] == "Hoch" %}
                    <tr>
                        <td>{{ aufgabe[0] }}</td>
                        <td>{{ aufgabe[1] }}.{{ aufgabe[2] }}.</td>
                        <td style="background-color: rgba(201, 16, 16, 0.774);">{{ aufgabe[3] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('edit_aufgabe', aufgaben_id=aufgabe[4], name=aufgabe[0]) }}">
                                <input class="btn btn-secondary" type="submit" value="Bearbeiten">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <td><a href="/remove_aufgabe/{{ aufgabe[4] }}" class="btn btn-danger bi bi-trash3"></a></td>
                            </form>
                        </td>
                    </tr>
                {% elif aufgabe[3] == "Mittel" %}
                    <tr>
                        <td>{{ aufgabe[0] }}</td>
                        <td>{{ aufgabe[1] }}.{{ aufgabe[2] }}.</td>
                        <td style="background-color: rgba(255, 230, 7, 0.76);">{{ aufgabe[3] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('edit_aufgabe', aufgaben_id=aufgabe[4], name=aufgabe[0]) }}">
                                <input class="btn btn-secondary" type="submit" value="Bearbeiten">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <td><a href="/remove_aufgabe/{{ aufgabe[4] }}" class="btn btn-danger bi bi-trash3"></a></td>
                            </form>
                        </td>
                    </tr>
                {% elif aufgabe[3] == "Niedrig" %}
                    <tr>
                        <td>{{ aufgabe[0] }}</td>
                        <td>{{ aufgabe[1] }}.{{ aufgabe[2] }}.</td>
                        <td style="background-color: rgba(0, 128, 0, 0.692);">{{ aufgabe[3] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('edit_aufgabe', aufgaben_id=aufgabe[4], name=aufgabe[0]) }}">
                                <input class="btn btn-secondary" type="submit" value="Bearbeiten">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <td><a href="/remove_aufgabe/{{ aufgabe[4] }}" class="btn btn-danger bi bi-trash3"></a></td>
                            </form>
                        </td>
                    </tr>
                {% elif aufgabe[3] == "None" %}
                    <tr>
                        <td>{{ aufgabe[0] }}</td>
                        <td>{{ aufgabe[1] }}.{{ aufgabe[2] }}.</td>
                        <td style="background-color: rgb(255, 255, 255);">{{ aufgabe[3] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('edit_aufgabe', aufgaben_id=aufgabe[4], name=aufgabe[0]) }}">
                                <input class="btn btn-secondary" type="submit" value="Bearbeiten">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <td><a href="/remove_aufgabe/{{ aufgabe[4] }}" class="btn btn-danger bi bi-trash3"></a></td>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

            <a href="/Aufgaben" class="btn btn-primary bi bi-plus"></a>
            </div>
            <div id="termine" style="margin-top: 30px" class="col text-center container-fluid">
              <h2>Termine</h2>
              <table class="table mx-auto table table-borderless">
                <tr id="thead2">
                    <th>Termin</th>
                    <th>Datum</th>
                    <th>Wochentag</th>
                    <th>Anfang</th>
                    <th>Ende</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                 {%for termin in termine%}
                    <tr>
                        <td>{{termin[0]}}</td>
                        <td>{{termin[1]}}.{{termin[2]}}.{{termin[3]}}</td>
                        <td>{{termin[4]}}</td>
                        <td>{{termin[5]}}</td>
                        <td>{{termin[6]}}</td>
                        <td>
                            <form method="POST" action="{{ url_for('edit_termin', termin_id=termin[7], name=termin[0]) }}">
                              <input class="btn btn-secondary"type="submit" value="Bearbeiten">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <td><a href="/remove_termin/{{termin[7]}}" class="btn btn-danger bi bi-trash3"></a></td>
                            </form>
                        </td>
                    </tr>
                 {% endfor %}
            </table>
            <a href="/Termine" class="btn btn-primary bi bi-plus"></a>
            </div>
            <div id="calendar" style="margin-top: 30px" class="col text-center container-fluid border rounded">
              <h2>Kalender</h2>


              <div id="month-nav">
                <button id="prev-month">&lt;</button>
                <h2 id="current-month"></h2>
                <button id="next-month">&gt;</button>
              </div>
              
              <table style="margin: 0 auto">
                <thead>
                  <tr>
                    <th>Mo</th>
                    <th>Di</th>
                    <th>Mi</th>
                    <th>Do</th>
                    <th>Fr</th>
                    <th>Sa</th>
                    <th>So</th>
                  </tr>
                </thead>
                <tbody id="calendar-body">
                </tbody>
              </table>


            </div>


        

    </div>




<script>
//Uhrzeit
    function uhrzeit() {
        var act = new Date();
        var h= act.getHours();
        if  (h <10) { h="0"+h; }
        var m= act.getMinutes();
        if  (m <10) { m="0"+m; }
        var s= act.getSeconds();
        if  (s <10) { s="0"+s; }
        document.uhr.uhrbutton.value = h+":"+m+":"+s;
    }

    setInterval(uhrzeit, 1000);

//Datum
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = day + "." + month + "." + year;


//Kalender
function showCalendar(year, month) {
  if (!year || !month) {
    let today = new Date();
    year = today.getFullYear();
    month = today.getMonth();
  }
  let calendarBody = document.getElementById('calendar-body');
  calendarBody.innerHTML = '';
  let date = new Date(year, month, 1);
  let daysInMonth = new Date(year, month + 1, 0).getDate();
  let firstDay = date.getDay();
  let currentMonth = document.getElementById('current-month');
  currentMonth.innerHTML = `${new Intl.DateTimeFormat('default', { month: 'long' }).format(date)} ${year}`;
  let dateNumber = 1;
  for (let i = 0; i < 6; i++) {
    let row = document.createElement('tr');
    for (let j = 0; j < 7; j++) {
      let cell = document.createElement('td');
      if (i === 0 && j < firstDay) {
        //tage vor 1. des monats
      } else if (dateNumber > daysInMonth) {
        //tage nach letzten des monats
      } else {
        cell.innerHTML = dateNumber;
        // "today" bei heutigem tag
        if (year === new Date().getFullYear() && month === new Date().getMonth() && dateNumber === new Date().getDate()) {
          cell.classList.add('today');
        }
        dateNumber++;
      }
      row.appendChild(cell);
    }
    calendarBody.appendChild(row);
  }

  let prevMonthButton = document.getElementById('prev-month');
  let nextMonthButton = document.getElementById('next-month');
  prevMonthButton.addEventListener('click', function() {
    showCalendar(year, month - 1);
  });
  nextMonthButton.addEventListener('click', function() {
    showCalendar(year, month + 1);
  });
}

showCalendar();

</script>

<!--Hier wird h/m/s <10 gesetzt, damit z.B. 10:09:17 und nicht 10:9:17 angezeigt wird-->
{% endblock %}