<html>
    <head>
     {{bootstrap.load_css()}}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>


    <body class="container shadow" onLoad="uhrzeit();">
        <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #5B6EC5;">
            <div class="container-fluid">
              <a class="navbar-brand">
                <img src="{{ url_for('static', filename= 'files/logoq2.PNG') }}" alt="Bootstrap" width="200" height="50">
                Personal Organizer</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                
            </div>
        </nav>

        <form name="uhr" class="text-center">
            <h4>Es ist <input type="button" class="btn btn-outline-dark" name="uhrbutton" value="00:00:00"/></h4>
        </form>


        <div class="row">
            <div class="col text-center">
              <h2>Aufgaben</h2>
              <table class="table table-bordered mx-auto">
                <tr>
                    <th>Aufgabe</th>
                    <th>Fälligkeitsdatum</th>
                    <th>Priorität</th>
                </tr>
                 {%for aufgabe in aufgaben%}
                    {% if aufgabe[3] == "Hoch" %}
                        <tr style="background-color: red;">
                    {% elif aufgabe[3] == "Mittel" %}
                        <tr style="background-color: yellow;">
                    {% elif aufgabe[3] == "Niedrig" %}
                        <tr style="background-color: green ;">
                    {% endif %}
                        <td>{{aufgabe[0]}}</td>
                        <td>{{aufgabe[1]}}.{{aufgabe[2]}}.</td>
                        <td>{{aufgabe[3]}}</td>
                        
                        <td>
                            <form method="POST" action="{{ url_for('edit_aufgabe', aufgaben_id=aufgabe[4]) }}">
                              <input type="submit" value="Bearbeiten">
                            </form>
                        </td>

                        <td>
                        <form action="" method="post">
                            <td><a href="/remove_aufgabe/{{aufgabe[4]}}" class="btn btn-danger">Löschen</a></td>
                        </form>
                        </td>
                    </tr>
                 {% endfor %}
            </table>
            <a href="/Aufgaben" class="btn btn-primary">Aufgaben hinzufügen</a>
            </div>
            <div class="col text-center">
              <h2>Termine</h2>
              <table class="table table-bordered mx-auto">
                <tr>
                    <th>Termin</th>
                    <th>Datum</th>
                    <th>Wochentag</th>
                    <th>Anfang</th>
                    <th>Ende</th>
                </tr>
                 {%for termin in termine%}
                    <tr>
                        <td>{{termin[0]}}</td>
                        <td>{{termin[1]}}.{{termin[2]}}.{{termin[3]}}</td>
                        <td>{{termin[4]}}</td>
                        <td>{{termin[5]}}</td>
                        <td>{{termin[6]}}</td>
                        <td>
                            <form action="" method="post">
                                <td><a href="/remove_termin/{{termin[7]}}" class="btn btn-danger">Löschen</a></td>
                            </form>
                        </td>
                    </tr>
                 {% endfor %}
            </table>
            <a href="/Termine" class="btn btn-primary mt-3 mx-auto d-block">Termine hinzufügen</a>
            </div>
            <div class="col text-center">
              <h2>Kalender</h2>
            </div>
          </div>


        
    </body>




</html>



<script>
    function uhrzeit() {
        var act = new Date();
        var h= act.getHours();
        if  (h <10) { h="0"+h; }
        var m= act.getMinutes();
        if  (m <10) { m="0"+m; }
        var s= act.getSeconds();
        if  (s <10) { s="0"+s; }
        document.uhr.uhrbutton.value = h+":"+m+":"+s;
    }

    setInterval(uhrzeit, 1000);

</script>

<!--Hier wird x/y/z <10 gesetzt, damit z.B. 10:09:17 und nicht 10:9:17 angezeigt wird-->