<!DOCTYPE html>
<html>
<head>
    {%block head%}
        {{bootstrap.load_css()}}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <title>Jot All Life: The ultimate personal organizer</title>
    {%endblock%}
</head>
<body id="body1" class="container shadow-lg" onLoad="uhrzeit(); initializeCalendar();">
 
    <nav id="nav" class="navbar sticky-top navbar-expand-lg" style="background-color: #5B6EC5;">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename= 'files/logoq2.PNG') }}" alt="Bootstrap" width="200" height="50">
                The ultimate personal organizer</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                {% if session.name %}
                    Du bist eingeloggt als {{ session.name }} <a href="/logout">logout</a>
                {% else %}
                    Du bist nicht eingeloggt. <a href="/login">login</a>.
                {% endif %}
            </ul>
            <form style="margin-top: 15px" name="uhr" class="text-center">
                <h4><input type="button" class="btn btn-outline-light bi bi-clock" name="uhrbutton" value="00:00:00"/><i style="margin-left: 5px; margin-right:10px"class="bi bi-clock"></i></h4>
            </form>
            <div style="margin-top:-15px" id="current_date"></div>
        </div>
    </nav>

    {% block content %}{% endblock %}


</body>
</html>
