<html>
  <head>
    <title>Termin entfernen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <h1>Termin entfernen</h1>
    <form method="POST" action="{{ url_for('remove_termin', termin_id=termin[0]) }}">
        <input type="hidden" name="termin_id" value="{{ termin[0] }}">
        <p>Sicher, dass du den Termin "{{ termin[5] }}" löschen möchtest?</p>
        <input type="submit" value="Ja">
        <a href="/">Nein</a>
      </form>
      
  </body>
</html>
