<html>
    <head>
     {{bootstrap.load_css()}}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <form action="/newDate" method="POST">
            <label for="name">Termin</label><br>
            <input type="text" id="name" name="name"><br>
        
            <label for="wochentag">Wochentag</label><br>
            <select id="wochentag" name="wochentag">
                <option value="Montag">Montag</option>
                <option value="Dienstag">Dienstag</option>
                <option value="Mittwoch">Mittwoch</option>
                <option value="Donnerstag">Donnerstag</option>
                <option value="Freitag">Freitag</option>
                <option value="Samstag">Samstag</option>
                <option value="Sonntag">Sonntag</option>
            </select>
            

            <label for="datum_tag">Tag</label><br>
            <select id="datum_tag" name="datum_tag">
                {%for tag in range(1, 32)%}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        
            <label for="datum_monat">Monat</label><br>
            <select id="datum_monat" name="datum_monat">
                {%for monat in range(1, 13)%}
                <option value="{{ monat }}">{{ monat }}</option>
                {% endfor %}
            </select>

            <label for="datum_jahr">Jahr</label><br>
            <input type="number" id="datum_jahr" name="datum_jahr"><br>

            <label for="uhrzeit_anfang">Beginn</label><br>
            <input type="text" id="uhrzeit_anfang" name="uhrzeit_anfang"><br>

            <label for="uhrzeit_ende">Ende</label><br>
            <input type="text" id="uhrzeit_ende" name="uhrzeit_ende"><br>
                    
            <button type="submit" class="submitbtn">Neuen Termin hinzufügen</button>
        </form>
        

    </body>
</html>